.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;
  padding-top: 110px;
}

.card {
  position: relative;
  flex-basis: calc(33.33% - 20px);
  background-color: var(--pink);
  box-shadow: 0 0 5px var(--pink);
  padding: 20px;
}

.h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--blue);
  color: var(--dirty-white);
}

.p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 2rem;
  color: var(--dirty-white);
}

.button {
  position: absolute;
  bottom: 1rem;
  left: 5rem;
  transform: translateX(-50%);
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--dirty-white);
  color: var(--blue);
  text-decoration: none;
  border-radius: 5px;
}

.button:hover {
  background-color: var(--blue);
  color: var(--dirty-white);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .card {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .button {
    bottom: 1rem;
    left: 5rem;
    padding: 0.5rem 1.5rem;
  }
  .h1 {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
  }
  .p {
    font-size: 18px;
    line-height: 1.5;
  }
}
