.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;
}

.card {
  position: relative;
  flex-basis: calc(33.33% - 20px);
  background-color: var(--pink);
  box-shadow: 0 0 5px var(--pink);
  padding: 20px;
  height: 400px;
}

.h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--blue);
  color: var(--dirty-white);
}

.p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: var(--dirty-white);
}

.button {
  position: absolute;
  position: absolute;
  bottom: 1rem;
  left: 20%;
  transform: translateX(-50%);
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--dirty-white);
  color: var(--blue);
  text-decoration: none;
  border-radius: 5px;
}

.button:hover {
  background-color: var(--blue);
  color: var(--dirty-white);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .card {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
}
