:root {
  --dirty-white: #fcfafb;
  --blue: #0332b8;
  --pink: #eb4463;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0.5rem;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  max-width: 300px;
}

body {
  background-color: var(--dirty-white);
}
