.container {
  margin: 2rem auto;
  max-width: 800px;
  padding: 0 1rem;
  background-color: var(--dirty-white);
  padding-top: 110px;
}

.h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--pink);
  border-bottom: 1px solid var(--pink);
  font-family: var(--h-font);
}

.skillsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  list-style: none;
  padding-bottom: 5rem;
}

.skill {
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  text-align: center;
  color: var(--blue);
}

@media only screen and (max-width: 768px) {
  .skillsList {
    grid-template-columns: repeat(1, 1fr);
  }
}
