.container {
  display: flex;
  align-items: center;
  max-width: 800px;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.text {
  flex: 1;
}

.h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.p {
  font-size: 18px;
  line-height: 1.5;
}
