.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 800px;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.text {
  flex: 1;
  color: var(--blue);
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  margin-top: 0;
  margin-left: 20px;
  /* text-align: justify; */
}

.h1 {
  color: var(--pink);
  text-align: left;
  font-size: 4rem;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .h1 {
    text-align: center;
  }
  .text {
    margin-top: 0;
    margin-left: 20px;
    text-align: left;
  }
}
