.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0d6efd;
}
