.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.button {
  margin: 10px;
  padding: 10px 20px;
  background-color: var(--blue);
  color: var(--dirty-white);
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--pink);
  color: var(--dirty-white);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .card {
    flex-basis: 100%;
    margin-bottom: 20px;
    padding: 20px;
  }

  .button {
    position: static;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
  }
}
