.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
  margin: 3rem;
}

.list {
  display: flex;
  list-style: none;
}

.item:not(:last-child) {
  margin-right: 30px;
}

.link {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  cursor: pointer;
}

.link:hover {
  color: #0070f3;
}

/* nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 80px;
  padding: 0 20px;
  margin: 3rem;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 10px;
}

li:first-child {
  margin-left: 0;
}

li:last-child {
  margin-right: 0;
}

a {
  text-decoration: none;
  color: #333333;
  font-size: 18px;
  font-weight: bold;
}
a.active {
  color: #ff8c00;
}

@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  ul {
    flex-direction: column;
    align-items: flex-start;
  }

  li {
    margin: 10px 0;
  }
  section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    margin: 1rem;
  } */
